
body{
background:white;
margin:0px;
padding:0px;
}
.containar{
margin:auto;
padding:auto;
width:100%;
height:100%;
background:white;
overflow:hidden;
}
.center{
background:white;
width:100%;
height:100%;
-webkit-transform:translate(50%,50%);
}
img{
width:400px;
height:300px;
position:absolute;
-webkit-transform:translate(-50%,-50%);
-webkit-animation-iteration-count:1;
-webkit-animation-fill-mode:forwards;
-webkit-animation-timing-function:cubic-bezier(1,0);;
}

@-webkit-keyframes abigger{
0%{width:0px;height:0px;opacity:0;}
100%{width:400px;height:300px;left:0px;opacity:1;}
}
@-webkit-keyframes amove{
0%{width:400px;height:300px;left:0px;opacity:1;}
100%{width:400px;height:300px;left:400px;opacity:0;}
}